# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
org codes/

# Large files (if over 100MB)
 Dataset_F_2.csv

 *.pkl